* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: black;
      }
      #container {
        width: 400px;
        max-width: 100%;
        border-radius: 10px;
      }
      h2 {
        font-size: 20px;
        color: #1e478e;
        padding: 20px 0px;
        text-align: center;
      }
      #signup,
      #signin {
        width: 400px;
        border-radius: 10px;
      }
      #signin {
        display: none;
      }
      .field {
        color: aliceblue;
        margin-bottom: 10px;
        padding-bottom: 14px;
        position: relative;
      }
      .field label {
        display: inline-block;
        margin-bottom: 5px;
      }
      .field input:not(.terms) {
        display: block;
        border-radius: 5px;
        border: 2px solid #f0f0f0;
        font-size: 15px;
        width: 100%;
        padding: 8px;
      }
      .field span {
        position: absolute;
        top: 30px;
        right: 10px;
        visibility: hidden;
      }
      .field small {
        position: absolute;
        bottom: 0px;
        left: 0;
        visibility: hidden;
      }
      form #tc:hover{
        cursor: pointer;
      }
      form .button {
        background-color: rgb(90, 104, 235);
        border: 2px solid rgb(90, 104, 235);
        color: white;
        padding: 10px;
        display: block;
        width: 100%;
        font-size: 16px;
        border-radius: 6px;
      }
      .button:hover{
        cursor: pointer;
      }
      p {
        padding: 10px 0px;
        color: #f0f0f0;
      }
      .signinbtn,
      .signupbtn {
        margin-left: 5px;
        background-color: black;
        border: none;
        color: blue;
        width: 50px;
        font-size: 16px;
      }
      .signinbtn:hover,
      .signupbtn:hover {
        cursor: pointer;
      }

      .field.success input {
        border-color: #2ecc71;
      }
      .field.error input {
        border-color: #e74c3c;
      }
      .field.success span.success {
        color: #2ecc71;
        visibility: visible;
      }
      .field.error span.error {
        color: #e74c3c;
        visibility: visible;
      }
      .field.error span.success {
        visibility: hidden;
      }
      .field.success span.error {
        visibility: hidden;
      }
      .field.error small {
        visibility: visible;
        color: #e74c3c;
      }